.form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--page-text-font);
}

.required {
  color: red;
}

input[type="text"] {
  border-radius: 5px;
}

#form-button {
  border-radius: 5px;
  background-color: var(--highlight-color);
  background-color: #a93f55;
  color: white;
  /* font-weight: 600; */
  margin: 10px 0px;
  width: 100%;
  padding: 10px;
  font-family: var(--page-title-font);
  letter-spacing: 1px;
}
.row {
  margin: 10px 0px;
  width: 100%;
}

@media (min-width: 768px) {
  /* .col-75 {
    width: 75%;
    max-width: 500px;
  } */
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
