:root {
  --page-title-font: "Anton", sans-serif;
  --page-text-font: "Inconsolata", monospace;

  /* Color-theme light */
  --background-color: white;
  --highlight-color: #a93f55;
  --title-text-color: #9fb3bb;
  --button-color: white;
  --text-color: black;

  /* Color-theme dark */
  /* --background-image: linear-gradient(to bottom right, #320000 60%, violet);
  --highlight-color: rgb(232, 12, 240);
  --title-text-shadow-color: #9fb3bb;
  --button-color: white;
  --button-background-color: white;
  --text-color: white; */
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 800px;
  border: 5px solid black;
  color: var(--text-color);
  text-shadow: -3px 2px var(black);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.App {
  text-align: center;
  padding: 20px;
  background-image: var(--background-image);
}

.section-header {
  text-align: left;
  font-family: var(--page-title-font);
  letter-spacing: 1px;
}

.App-header {
  background-color: #6e84af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
