.playlist-header,
.song-details {
  display: grid;
  grid-template-columns: 2fr 1fr 30px 30px;
  justify-content: space-between;
  padding: 0 2px;
  margin: 10px;
  font-family: var(--page-text-font);
}

.playlist-header {
  font-weight: 600;
}
/* .song-details {
  background-color: grey;
} */
