header h1 {
  text-align: left;
  margin-bottom: 0px;
  font-family: var(--page-title-font);
  width: 100%;
  letter-spacing: 1.75px;
}

header h5 {
  margin-top: 0px;
  float: right;
  font-family: var(--page-text-font);
}

.header-line {
  width: 100%;
  background-color: var(--highlight-color);
  height: 4px;
}
